.Rproj.user
.Rhistory
.RData
.Ruserdata
**/R/
**/data-raw/
**/data/
                                                       
**/vehicles_data/data/                                                    
**/vehicles_data/data-raw/                                                        
**/vehicles_data/R/

**/EPRA/
**/LOTTO/
**/AustralianWeather/
**/FEDREG_NOTICES/get_data_FED.R
**/FEDREG_NOTICES/New Text Document.txt

