.Rproj.user
.Rhistory
.RData
.Ruserdata
**/R/
**/data-raw/
**/data/
                                                       
**/vehicles_data/data/                                                    
**/vehicles_data/data-raw/                                                        
**/vehicles_data/R/

**/EPRA/



**/FEDREG_NOTICES/get_data_FED.R
**/FEDREG_NOTICES/New Text Document.txt
**/AustralianWeather/analysis.R
**/AustralianWeather/get_data.R
**/AustralianWeather/get_data_V2.R
**/AustralianWeather/sert.RData

**/LOTTO/.ipynb_checkpoints
**/LOTTO/data
**/LOTTO/data-raw
**/LOTTO/plot_analysis_files
**/LOTTO/R

**/NSE/NSE.R

**/Buses/workspaces/
**/Buses/buses.R
**/Buses/tahmeed.R
**/Buses/dreamline.R