.Rproj.user
.Rhistory
.RData
.Ruserdata
**/R/
**/data-raw/
**/data/
**/vehicles_data/analysis/                                                        
**/vehicles_data/data/                                                    
**/vehicles_data/data-raw/                                                        
**/vehicles_data/R/